NFe/wsdl/GO/producao/4.00/NfeConsultaCadastro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CadConsultaCadastro4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4">
	<types>
		<xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4" version="1.0" elementFormDefault="qualified">
			<xs:element name="nfeResultMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nfeDadosMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="CadConsultaCadastro4Service_consultaCadastro">
		<part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>
	</message>
	<message name="CadConsultaCadastro4Service_consultaCadastroResponse">
		<part element="tns:nfeResultMsg" name="consultaCadastroResult"/>		
	</message>
	<portType name="CadConsultaCadastro4Service">
		<operation name="consultaCadastro">
			<input message="tns:CadConsultaCadastro4Service_consultaCadastro"/>
			<output message="tns:CadConsultaCadastro4Service_consultaCadastroResponse"/>
		</operation>
	</portType>
	<binding name="CadConsultaCadastro4ServiceBinding" type="tns:CadConsultaCadastro4Service">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="consultaCadastro">
			<soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4/consultaCadastro"/>
			<input>
				<soap12:body parts="nfeDadosMsg" use="literal"/>
			</input>
			<output>
				<soap12:body parts="consultaCadastroResult" use="literal"/>				
			</output>
		</operation>
	</binding>
	<service name="CadConsultaCadastro4">
		<port binding="tns:CadConsultaCadastro4ServiceBinding" name="CadConsultaCadastro4ServicePort">
			<soap12:address location="http://nfe.sefaz.go.gov.br:80/nfe/services/CadConsultaCadastro4"/>
		</port>
	</service>
</definitions>