NFe/wsdl/GO/producao/4.00/NfeConsultaProtocolo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeConsultaProtocolo4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4">
	<types>
		<xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" version="1.0" elementFormDefault="qualified">
			<xs:element name="nfeResultMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nfeDadosMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="NFeConsultaProtocolo4Service_nfeConsultaNF">
		<part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>
	</message>
	<message name="NFeConsultaProtocolo4Service_nfeConsultaNFResponse">
		<part element="tns:nfeResultMsg" name="nfeConsultaNFResult"/>		
	</message>
	<portType name="NFeConsultaProtocolo4Service">
		<operation name="nfeConsultaNF">
			<input message="tns:NFeConsultaProtocolo4Service_nfeConsultaNF"/>
			<output message="tns:NFeConsultaProtocolo4Service_nfeConsultaNFResponse"/>
		</operation>
	</portType>
	<binding name="NFeConsultaProtocolo4ServiceBinding" type="tns:NFeConsultaProtocolo4Service">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="nfeConsultaNF">
			<soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4/nfeConsultaNF"/>
			<input>
				<soap12:body parts="nfeDadosMsg" use="literal"/>
			</input>
			<output>
				<soap12:body parts="nfeConsultaNFResult" use="literal"/>				
			</output>
		</operation>
	</binding>
	<service name="NFeConsultaProtocolo4">
		<port binding="tns:NFeConsultaProtocolo4ServiceBinding" name="NFeConsultaProtocolo4ServicePort">
			<soap12:address location="http://nfe.sefaz.go.gov.br:80/nfe/services/NFeConsultaProtocolo4"/>
		</port>
	</service>
</definitions>