NFe/wsdl/CE/homologacao/4.00/NfeRetAutorizacao.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRetAutorizacao4" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRetAutorizacao4">
  <wsdl:types>
<s:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRetAutorizacao4" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRetAutorizacao4">
      
  <s:element name="nfeDadosMsg">
        
    <s:complexType mixed="true">
          
      <s:sequence>
            
        <s:any/>
          
      </s:sequence>
        
    </s:complexType>
      
  </s:element>
      
  <s:element name="nfeResultMsg">
        
    <s:complexType mixed="true">
          
      <s:sequence>
            
        <s:any/>
          
      </s:sequence>
        
    </s:complexType>
      
  </s:element>
    
</s:schema>
  </wsdl:types>
  <wsdl:message name="nfeRetAutorizacaoLoteSoapOut">
    <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeRetAutorizacaoLoteSoapIn">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NFeRetAutorizacaoSoap">
    <wsdl:operation name="nfeRetAutorizacaoLote">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servico destinado a retornar o resultado do processamento do lote de NF-e</wsdl:documentation>
      <wsdl:input message="tns:nfeRetAutorizacaoLoteSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:nfeRetAutorizacaoLoteSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeRetAutorizacaoSoap12" type="tns:NFeRetAutorizacaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="nfeRetAutorizacaoLote">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRetAutorizacao4/nfeRetAutorizacaoLote" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeRetAutorizacao4">
    <wsdl:port binding="tns:NFeRetAutorizacaoSoap12" name="NFeRetAutorizacaoSoap12">
      <soap12:address location="http://nfeh.sefaz.ce.gov.br:80/nfe4/services/NFeRetAutorizacao4"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>