NFe/wsdl/CE/homologacao/4.00/RecepcaoEvento.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4">
  <wsdl:types>
<s:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4">
      
  <s:element name="nfeDadosMsg">
        
    <s:complexType mixed="true">
          
      <s:sequence>
            
        <s:any/>
          
      </s:sequence>
        
    </s:complexType>
      
  </s:element>
      
  <s:element name="nfeResultMsg">
        
    <s:complexType mixed="true">
          
      <s:sequence>
            
        <s:any/>
          
      </s:sequence>
        
    </s:complexType>
      
  </s:element>
    
</s:schema>
  </wsdl:types>
  <wsdl:message name="nfeRecepcaoEventoSoapIn">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeRecepcaoEventoSoapOut">
    <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NFeRecepcaoEventoSoap">
    <wsdl:operation name="nfeRecepcaoEventoNF">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servico destinado ao atendimento de solicitacoes de Recepcao de Eventos</wsdl:documentation>
      <wsdl:input message="tns:nfeRecepcaoEventoSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:nfeRecepcaoEventoSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nfeRecepcaoEvento">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servico destinado ao atendimento de solicitacoes de Recepcao de Eventos</wsdl:documentation>
      <wsdl:input message="tns:nfeRecepcaoEventoSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:nfeRecepcaoEventoSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeRecepcaoEventoSoap12" type="tns:NFeRecepcaoEventoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="nfeRecepcaoEventoNF">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4/nfeRecepcaoEventoNF" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nfeRecepcaoEvento">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4/nfeRecepcaoEvento" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeRecepcaoEvento4">
    <wsdl:port binding="tns:NFeRecepcaoEventoSoap12" name="NFeRecepcaoEventoSoap12">
      <soap12:address location="http://nfeh.sefaz.ce.gov.br:80/nfe4/services/NFeRecepcaoEvento4"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>