NFe/wsdl/MT/homologacao/4.00/NfeConsultaCadastro.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4">
      <s:element name="consultaCadastro">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="nfeDadosMsg">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeResultMsg">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="consultaCadastroResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultaCadastroSoap12In">
    <wsdl:part name="parameters" element="tns:consultaCadastro">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaCadastroSoap12Out">
    <wsdl:part name="parameters" element="tns:nfeResultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CadConsultaCadastro4Soap12">
    <wsdl:operation name="consultaCadastro">
      <wsdl:input message="tns:consultaCadastroSoap12In">
    </wsdl:input>
      <wsdl:output message="tns:consultaCadastroSoap12Out">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CadConsultaCadastro4Soap12" type="tns:CadConsultaCadastro4Soap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaCadastro">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4/consultaCadastro" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CadConsultaCadastro4">
    <wsdl:port name="CadConsultaCadastro4Soap12" binding="tns:CadConsultaCadastro4Soap12">
      <soap12:address location="https://homologacao.sefaz.mt.gov.br/nfews/v2/services/CadConsultaCadastro4"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
