NFe/wsdl/MT/homologacao/4.00/RecepcaoEvento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4">
      <s:element name="nfeDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeResultMsg" nillable="true">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nfeRecepcaoEventoSoapIn">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeRecepcaoEventoSoapOut">
    <wsdl:part name="nfeRecepcaoEventoResult" element="tns:nfeResultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RecepcaoEvento4Soap">
    <wsdl:operation name="nfeRecepcaoEvento">
      <wsdl:input message="tns:nfeRecepcaoEventoSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:nfeRecepcaoEventoSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecepcaoEvento4Soap12" type="tns:RecepcaoEvento4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="nfeRecepcaoEvento">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4/nfeRecepcaoEvento" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecepcaoEvento4Soap" type="tns:RecepcaoEvento4Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="nfeRecepcaoEvento">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4/nfeRecepcaoEvento" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecepcaoEvento4">
    <wsdl:port name="RecepcaoEvento4Soap12" binding="tns:RecepcaoEvento4Soap12">
      <soap12:address location="https://homologacao.sefaz.mt.gov.br/nfews/v2/services/RecepcaoEvento4"/>
    </wsdl:port>
    <wsdl:port name="RecepcaoEvento4Soap" binding="tns:RecepcaoEvento4Soap">
      <soap:address location="https://homologacao.sefaz.mt.gov.br/nfews/v2/services/RecepcaoEvento4"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
