NFe/wsdl/PE/homologacao/4.00/NfeAutorizacao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Servico destinado a recepcao de mensagens de lote de NFe </wsdl:documentation>

  <wsdl:types>

    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4">

      <s:element name="nfeDadosMsg">

        <s:complexType mixed="true">

          <s:sequence>

            <s:any/>

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="nfeResultMsg">

        <s:complexType mixed="true">

          <s:sequence>

            <s:any/>

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="nfeDadosMsgZip">

        <s:complexType mixed="true">

          <s:sequence>

            <s:any/>

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="nfeResultMsgZip">

        <s:complexType mixed="true">

          <s:sequence>

            <s:any/>

          </s:sequence>

        </s:complexType>

      </s:element>

    </s:schema>

  </wsdl:types>

  <wsdl:message name="nfeAutorizacaoLoteSoap12Out">

    <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg"/>

  </wsdl:message>

  <wsdl:message name="nfeAutorizacaoLoteZipSoap12In">

    <wsdl:part element="tns:nfeDadosMsgZip" name="nfeDadosMsgZip"/>

  </wsdl:message>

  <wsdl:message name="nfeAutorizacaoLoteZipSoap12Out">

    <wsdl:part element="tns:nfeResultMsgZip" name="nfeResultMsgZip"/>

  </wsdl:message>

  <wsdl:message name="nfeAutorizacaoLoteSoap12In">

    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>

  </wsdl:message>

  <wsdl:portType name="NFeAutorizacao4Soap12">

    <wsdl:operation name="nfeAutorizacaoLote">

      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Transmissao de Lote de NFe   </wsdl:documentation>

      <wsdl:input message="tns:nfeAutorizacaoLoteSoap12In"/>

      <wsdl:output message="tns:nfeAutorizacaoLoteSoap12Out"/>

    </wsdl:operation>

    <wsdl:operation name="nfeAutorizacaoLoteZip">

      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Transmissao de Lote Compactado de NFe   </wsdl:documentation>

      <wsdl:input message="tns:nfeAutorizacaoLoteZipSoap12In"/>

      <wsdl:output message="tns:nfeAutorizacaoLoteZipSoap12Out"/>

    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="NFeAutorizacao4Soap12" type="tns:NFeAutorizacao4Soap12">

    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="nfeAutorizacaoLote">

      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote" style="document"/>

      <wsdl:input>

        <soap12:body use="literal"/>

      </wsdl:input>

      <wsdl:output>

        <soap12:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="nfeAutorizacaoLoteZip">

      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZip" style="document"/>

      <wsdl:input>

        <soap12:body use="literal"/>

      </wsdl:input>

      <wsdl:output>

        <soap12:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="NFeAutorizacao4">

    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Servico destinado a recepcao de mensagens de lote de NFe  </wsdl:documentation>

    <wsdl:port binding="tns:NFeAutorizacao4Soap12" name="NFeAutorizacao4ServicePort">

      <soap12:address location="https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NFeAutorizacao4"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
