NFe/wsdl/PE/homologacao/4.00/NfeConsultaProtocolo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Servico destinado ao atendimento de solicitacoes de consulta da situacao atual da NFe na Base de Dados do Portal da Secretaria de Fazenda Estadual </wsdl:documentation>

  <wsdl:types>

    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4">

      <s:element name="nfeDadosMsg">

        <s:complexType mixed="true">

          <s:sequence>

            <s:any/>

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="nfeResultMsg">

        <s:complexType mixed="true">

          <s:sequence>

            <s:any/>

          </s:sequence>

        </s:complexType>

      </s:element>

    </s:schema>

  </wsdl:types>

  <wsdl:message name="nfeConsultaNFSoap12Out">

    <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg"/>

  </wsdl:message>

  <wsdl:message name="nfeConsultaNFSoap12In">

    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>

  </wsdl:message>

  <wsdl:portType name="NFeConsultaProtocolo4Soap12">

    <wsdl:operation name="nfeConsultaNF">

      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Consulta situacao atual da NFe   </wsdl:documentation>

      <wsdl:input message="tns:nfeConsultaNFSoap12In"/>

      <wsdl:output message="tns:nfeConsultaNFSoap12Out"/>

    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="NFeConsultaProtocolo4Soap12" type="tns:NFeConsultaProtocolo4Soap12">

    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="nfeConsultaNF">

      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4/nfeConsultaNF" style="document"/>

      <wsdl:input>

        <soap12:body use="literal"/>

      </wsdl:input>

      <wsdl:output>

        <soap12:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="NFeConsultaProtocolo4">

    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Servico destinado ao atendimento de solicitacoes de consulta da situacao atual da NFe na Base de Dados do Portal da Secretaria de Fazenda Estadual  </wsdl:documentation>

    <wsdl:port binding="tns:NFeConsultaProtocolo4Soap12" name="NFeConsultaProtocolo4ServicePort">

      <soap12:address location="https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NFeConsultaProtocolo4"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
