NFe/wsdl/CE/producao/CadConsultaCadastro2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2">
			<s:element name="nfeDadosMsg">
				<s:complexType mixed="true">
					<s:sequence>
						<s:any/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="cadConsultaCadastro2Result">
				<s:complexType mixed="true">
					<s:sequence>
						<s:any/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
			<s:complexType name="nfeCabecMsg">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
			<s:element name="consultaCadastro2">
				<s:complexType>
					<s:sequence>

						<s:element name="in" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="consultaCadastro2Response">
				<s:complexType>
					<s:sequence>

						<s:element name="out" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="cadConsultaCadastro2Soap12In">
		<wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
	</wsdl:message>
	<wsdl:message name="cadConsultaCadastro2Soap12Out">
		<wsdl:part name="cadConsultaCadastro2Result" element="tns:cadConsultaCadastro2Result"/>
	</wsdl:message>
	<wsdl:message name="cadConsultaCadastro2nfeCabecMsg">
		<wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
	</wsdl:message>
	<wsdl:message name="consultaCadastro2Request">
		<wsdl:part name="nfeDadosMsg" element="tns:consultaCadastro2"/>
	</wsdl:message>
	<wsdl:message name="consultaCadastro2Response">
		<wsdl:part name="cadConsultaCadastro2Result" element="tns:consultaCadastro2Response"/>
	</wsdl:message>
	<wsdl:portType name="CadConsultaCadastro2Soap12">
		<wsdl:operation name="consultaCadastro2">
			<wsdl:input message="tns:cadConsultaCadastro2Soap12In"/>
			<wsdl:output message="tns:cadConsultaCadastro2Soap12Out"/>
		</wsdl:operation>

	</wsdl:portType>
	<wsdl:binding name="CadConsultaCadastro2Soap12" type="tns:CadConsultaCadastro2Soap12">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaCadastro2">
			<soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2/consultaCadastro2" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
				<soap12:header message="tns:cadConsultaCadastro2nfeCabecMsg" part="nfeCabecMsg" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
				<soap12:header message="tns:cadConsultaCadastro2nfeCabecMsg" part="nfeCabecMsg" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CadConsultaCadastro2">
		<wsdl:port name="CadConsultaCadastro2Soap12" binding="tns:CadConsultaCadastro2Soap12">
			<soap12:address location="https://nfe.sefaz.ce.gov.br:443/nfe2/services/CadConsultaCadastro2"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>