NFe/wsdl/MG/producao/NfeRetRecepcao2.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NfeRetRecepcao2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" version="1.0" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
<xs:element name="nfeDadosMsg">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nfeRetRecepcao2Result" type="tns:nfeRetRecepcao2Result"/>
<xs:complexType name="nfeRetRecepcao2Result">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="retConsReciNFe" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="nfeCabecMsg">
<xs:sequence>
<xs:element minOccurs="0" name="cUF" type="xs:string"/>
<xs:element minOccurs="0" name="versaoDados" type="xs:string"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeRetRecepcao2Response">
    <wsdl:part element="tns:nfeRetRecepcao2Result" name="nfeRetRecepcao2Result">
    </wsdl:part>
    <wsdl:part element="tns:nfeCabecMsg" name="nfeCabecMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeRetRecepcao2">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
    <wsdl:part element="tns:nfeCabecMsg" name="nfeCabecMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NfeRetRecepcao2Soap">
    <wsdl:operation name="nfeRetRecepcao2" parameterOrder="nfeDadosMsg nfeCabecMsg">
      <wsdl:input message="tns:nfeRetRecepcao2" name="nfeRetRecepcao2">
    </wsdl:input>
      <wsdl:output message="tns:nfeRetRecepcao2Response" name="nfeRetRecepcao2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeRetRecepcao2SoapBinding" type="tns:NfeRetRecepcao2Soap">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="nfeRetRecepcao2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2/nfeRetRecepcao2" style="document"/>
      <wsdl:input name="nfeRetRecepcao2">
        <soap12:header message="tns:nfeRetRecepcao2" part="nfeCabecMsg" use="literal">
        </soap12:header>
        <soap12:body parts="nfeDadosMsg" use="literal"/>
      </wsdl:input>
      <wsdl:output name="nfeRetRecepcao2Response">
        <soap12:header message="tns:nfeRetRecepcao2Response" part="nfeCabecMsg" use="literal">
        </soap12:header>
        <soap12:body parts="nfeRetRecepcao2Result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeRetRecepcao2">
    <wsdl:port binding="tns:NfeRetRecepcao2SoapBinding" name="NfeRetRecepcao2Soap12">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/NfeRetRecepcao2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>