NFe/wsdl/GO/producao/2.00/NfeRecepcao.wsdl

<?xml version='1.0' encoding='UTF-8'?><definitions name='NfeRecepcao2' targetNamespace='http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' xmlns:tns='http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema elementFormDefault='qualified' targetNamespace='http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2' version='1.0' xmlns:tns='http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='nfeCabecMsg' type='tns:nfeCabecMsg'/>
   <xs:element name='nfeDadosMsg'>
    <xs:complexType mixed='true'>
     <xs:sequence>
      <xs:any/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name='nfeRecepcaoLote2Result'>
    <xs:complexType mixed='true'>
     <xs:sequence>
      <xs:any/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:complexType name='nfeCabecMsg'>
    <xs:sequence>
     <xs:element minOccurs='0' name='cUF' type='xs:string'/>
     <xs:element minOccurs='0' name='versaoDados' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='NfeRecepcaoService_nfeRecepcaoLote2Response'>
  <part element='tns:nfeRecepcaoLote2Result' name='nfeRecepcaoLote2Result'></part>
 </message>
 <message name='NfeRecepcaoService_nfeRecepcaoLote2'>
  <part element='tns:nfeDadosMsg' name='nfeDadosMsg'></part>
  <part element='tns:nfeCabecMsg' name='nfeCabecMsg'></part>
 </message>
 <portType name='NfeRecepcaoService'>
  <operation name='nfeRecepcaoLote2' parameterOrder='nfeCabecMsg nfeDadosMsg'>
   <input message='tns:NfeRecepcaoService_nfeRecepcaoLote2'></input>
   <output message='tns:NfeRecepcaoService_nfeRecepcaoLote2Response'></output>
  </operation>
 </portType>
 <binding name='NfeRecepcaoServiceBinding' type='tns:NfeRecepcaoService'>
  <soap12:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='nfeRecepcaoLote2'>
   <soap12:operation soapAction='http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2/nfeRecepcaoLote2'/>
   <input>
    <soap12:body parts='nfeDadosMsg' use='literal'/>
    <soap12:header message='tns:NfeRecepcaoService_nfeRecepcaoLote2' part='nfeCabecMsg' use='literal'></soap12:header>
   </input>
   <output>
    <soap12:body parts='nfeRecepcaoLote2Result' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='NfeRecepcao2'>
  <port binding='tns:NfeRecepcaoServiceBinding' name='NfeRecepcaoServicePort'>
   <soap12:address location='https://nfe.sefaz.go.gov.br/nfe/services/v2/NfeRecepcao2'/>
  </port>
 </service>
</definitions>