NFe/wsdl/GO/homologacao/1.00/RecepcaoEvento.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecepcaoEvento" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento">
	<types>
		<xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento" version="1.0" elementFormDefault="qualified">
			<xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
			<xs:element name="nfeRecepcaoEventoResult">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nfeDadosMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="nfeCabecMsg">
				<xs:sequence>
					<xs:element minOccurs="0" name="cUF" type="xs:string"/>
					<xs:element minOccurs="0" name="versaoDados" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="NfeRecepcaoEventoService_nfeRecepcaoEvento">
		<part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>
		<part element="tns:nfeCabecMsg" name="nfeCabecMsg"/>
	</message>
	<message name="NfeRecepcaoEventoService_nfeRecepcaoEventoResponse">
		<part element="tns:nfeRecepcaoEventoResult" name="nfeRecepcaoEventoResult"/>
	</message>
	<portType name="RecepcaoEventoService">
		<operation name="nfeRecepcaoEvento" parameterOrder="nfeCabecMsg nfeDadosMsg">
			<input message="tns:NfeRecepcaoEventoService_nfeRecepcaoEvento"/>
			<output message="tns:NfeRecepcaoEventoService_nfeRecepcaoEventoResponse"/>
		</operation>
	</portType>
	<binding name="RecepcaoEventoServiceBinding" type="tns:RecepcaoEventoService">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="nfeRecepcaoEvento">
			<soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento/nfeRecepcaoEvento"/>
			<input>
				<soap12:body parts="nfeDadosMsg" use="literal"/>
				<soap12:header message="tns:NfeRecepcaoEventoService_nfeRecepcaoEvento" part="nfeCabecMsg" use="literal"/>
			</input>
			<output>
				<soap12:body parts="nfeRecepcaoEventoResult" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RecepcaoEvento">
		<port binding="tns:RecepcaoEventoServiceBinding" name="RecepcaoEventoServicePort">
			<soap12:address location="http://homolog.sefaz.go.gov.br:80/nfe/services/v2/RecepcaoEvento"/>
		</port>
	</service>
</definitions>