NFe/wsdl/GO/homologacao/4.00/NfeStatusServico.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeStatusServico4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4">
	<types>
		<xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" version="1.0" elementFormDefault="qualified">
			<xs:element name="nfeDadosMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nfeResultMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="NFeStatusServico4Service_nfeStatusServicoNFResponse">
		<part element="tns:nfeResultMsg" name="nfeStatusServicoNFResult"/>
	</message>
	<message name="NFeStatusServico4Service_nfeStatusServicoNF">
		<part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>
	</message>
	<portType name="NFeStatusServico4Service">
		<operation name="nfeStatusServicoNF">
			<input message="tns:NFeStatusServico4Service_nfeStatusServicoNF"/>
			<output message="tns:NFeStatusServico4Service_nfeStatusServicoNFResponse"/>
		</operation>
	</portType>
	<binding name="NFeStatusServico4ServiceBinding" type="tns:NFeStatusServico4Service">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="nfeStatusServicoNF">
			<soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4/nfeStatusServicoNF"/>
			<input>
				<soap12:body parts="nfeDadosMsg" use="literal"/>
			</input>
			<output>
				<soap12:body parts="nfeStatusServicoNFResult" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="NFeStatusServico4">
		<port binding="tns:NFeStatusServico4ServiceBinding" name="NFeStatusServico4ServicePort">
			<soap12:address location="http://homolog.sefaz.go.gov.br:80/nfe/services/NFeStatusServico4"/>
		</port>
	</service>
</definitions>