NFe/wsdl/GO/homologacao/4.00/RecepcaoEvento.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeRecepcaoEvento4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4">
	<types>
		<xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" version="1.0" elementFormDefault="qualified">
			<xs:element name="nfeResultMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nfeDadosMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="NFeRecepcaoEvento4Service_nfeRecepcaoEvento">
		<part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>
	</message>
	<message name="NFeRecepcaoEvento4Service_nfeRecepcaoEventoResponse">
		<part element="tns:nfeResultMsg" name="nfeRecepcaoEventoResult"/>
	</message>
	<portType name="NFeRecepcaoEvento4Service">
		<operation name="nfeRecepcaoEvento">
			<input message="tns:NFeRecepcaoEvento4Service_nfeRecepcaoEvento"/>
			<output message="tns:NFeRecepcaoEvento4Service_nfeRecepcaoEventoResponse"/>
		</operation>
	</portType>
	<binding name="NFeRecepcaoEvento4ServiceBinding" type="tns:NFeRecepcaoEvento4Service">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="nfeRecepcaoEvento">
			<soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4/nfeRecepcaoEvento"/>
			<input>
				<soap12:body parts="nfeDadosMsg" use="literal"/>
			</input>
			<output>
				<soap12:body parts="nfeRecepcaoEventoResult" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="NFeRecepcaoEvento4">
		<port binding="tns:NFeRecepcaoEvento4ServiceBinding" name="NFeRecepcaoEvento4ServicePort">
			<soap12:address location="http://homolog.sefaz.go.gov.br:80/nfe/services/NFeRecepcaoEvento4"/>
		</port>
	</service>
</definitions>