NFe/wsdl/PR/homologacao/4.00/NfeConsultaCadastro.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace='http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:s='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tm='http://microsoft.com/wsdl/mime/textMatching/' xmlns:tns='http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
 <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Servico destinado ao atendimento de solicitacoes de consulta ao Cadastro de Contribuintes do ICMS da Secretaria de Fazenda Estatual.</wsdl:documentation>
 <wsdl:types>
  <s:schema elementFormDefault='qualified' targetNamespace='http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4'>
   <s:element name='nfeDadosMsg'>
    <s:complexType mixed='true'>
     <s:sequence>
      <s:any/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:element name='nfeResultMsg'>
    <s:complexType mixed='true'>
     <s:sequence>
      <s:any/>
     </s:sequence>
    </s:complexType>
   </s:element>
  </s:schema>
 </wsdl:types>
 <wsdl:message name='consultaCadastro4Soap12In'>
  <wsdl:part element='tns:nfeDadosMsg' name='nfeDadosMsg'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='consultaCadastro4Soap12Out'>
  <wsdl:part element='tns:nfeResultMsg' name='nfeResultMsg'></wsdl:part>
 </wsdl:message>
 <wsdl:portType name='CadConsultaCadastro4Soap12'>
  <wsdl:operation name='consultaCadastro'>
   <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Consulta Cadastro de Contribuintes do ICMS</wsdl:documentation>
   <wsdl:input message='tns:consultaCadastro4Soap12In'></wsdl:input>
   <wsdl:output message='tns:consultaCadastro4Soap12Out'></wsdl:output>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name='CadConsultaCadastro4Soap12' type='tns:CadConsultaCadastro4Soap12'>
  <soap12:binding transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='consultaCadastro'>
   <soap12:operation soapAction='http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4/consultaCadastro' style='document'/>
   <wsdl:input>
    <soap12:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name='CadConsultaCadastro4'>
  <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Servico destinado ao atendimento de solicitacoes de consulta ao Cadastro de Contribuintes do ICMS da Secretaria de Fazenda Estatual.</wsdl:documentation>
  <wsdl:port binding='tns:CadConsultaCadastro4Soap12' name='CadConsultaCadastro4ServicePort'>
   <soap12:address location='https://homologacao.nfe.sefa.pr.gov.br/nfe/CadConsultaCadastro4'/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>