MDFe/wsdl/homologacao/MDFeRetRecepcao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeRetRecepcao" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeRetRecepcao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeRetRecepcao">
      <s:element name="mdfeDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mdfeRetRecepcaoResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mdfeCabecMsg" type="tns:mdfeCabecMsg" />
      <s:complexType name="mdfeCabecMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mdfeRetRecepcaoSoap12In">
    <wsdl:part name="mdfeDadosMsg" element="tns:mdfeDadosMsg" />
  </wsdl:message>
  <wsdl:message name="mdfeRetRecepcaoSoap12Out">
    <wsdl:part name="mdfeRetRecepcaoResult" element="tns:mdfeRetRecepcaoResult" />
  </wsdl:message>
  <wsdl:message name="mdfeRetRecepcaomdfeCabecMsg">
    <wsdl:part name="mdfeCabecMsg" element="tns:mdfeCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="MDFeRetRecepcaoSoap12">
    <wsdl:operation name="mdfeRetRecepcao">
      <wsdl:input message="tns:mdfeRetRecepcaoSoap12In" />
      <wsdl:output message="tns:mdfeRetRecepcaoSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MDFeRetRecepcaoSoap12" type="tns:MDFeRetRecepcaoSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mdfeRetRecepcao">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeRetRecepcao/mdfeRetRecepcao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:mdfeRetRecepcaomdfeCabecMsg" part="mdfeCabecMsg" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:mdfeRetRecepcaomdfeCabecMsg" part="mdfeCabecMsg" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MDFeRetRecepcao">
    <wsdl:port name="MDFeRetRecepcaoSoap12" binding="tns:MDFeRetRecepcaoSoap12">
      <soap12:address location="https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeRetRecepcao/MDFeRetRecepcao.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>