NFe/wsdl/AM/homologacao/4.00/NfeAutorizacao.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions
    
     targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:s="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
     xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4">
            <s:element name="nfeDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="nfeResultMsg" nillable="true">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="nfeDadosMsgZip" type="s:string"/>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="nfeAutorizacaoLoteSoapIn">
        <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
    </wsdl:message>
    <wsdl:message name="nfeAutorizacaoLoteSoapOut">
        <wsdl:part name="nfeAutorizacaoLoteResult" element="tns:nfeResultMsg"/>
    </wsdl:message>
    <wsdl:message name="nfeAutorizacaoLoteZipSoapIn">
        <wsdl:part name="nfeDadosMsgZip" element="tns:nfeDadosMsgZip"/>
    </wsdl:message>
    <wsdl:message name="nfeAutorizacaoLoteZipSoapOut">
        <wsdl:part name="nfeAutorizacaoLoteZipResult" element="tns:nfeResultMsg"/>
    </wsdl:message>
    <wsdl:portType name="NfeAutorizacao4Soap">
        <wsdl:operation name="nfeAutorizacaoLote">
            <wsdl:input message="tns:nfeAutorizacaoLoteSoapIn"/>
            <wsdl:output message="tns:nfeAutorizacaoLoteSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="nfeAutorizacaoLoteZip">
            <wsdl:input message="tns:nfeAutorizacaoLoteZipSoapIn"/>
            <wsdl:output message="tns:nfeAutorizacaoLoteZipSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NfeAutorizacao4Soap" type="tns:NfeAutorizacao4Soap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nfeAutorizacaoLote">
            <soap:operation style="document" soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nfeAutorizacaoLoteZip">
            <soap:operation style="document" soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZip"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NfeAutorizacao4Soap12" type="tns:NfeAutorizacao4Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nfeAutorizacaoLote">
            <soap12:operation style="document" soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nfeAutorizacaoLoteZip">
            <soap12:operation style="document" soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZip"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NfeAutorizacao4">
        <wsdl:port name="NfeAutorizacao4Soap12" binding="tns:NfeAutorizacao4Soap12">
            <soap12:address location="https://homnfe.sefaz.am.gov.br/services2/services/NFeAutorizacao4"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
