NFe/wsdl/MS/producao/4.00/NfeConsultaCadastro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="CadConsultaCadastro4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4">
    <types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4">
            <xsd:element name="nfeDadosMsg">
                <xsd:complexType mixed="true">
                    <xsd:sequence>
                        <xsd:any/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="nfeResultMsg">
                <xsd:complexType mixed="true">
                    <xsd:sequence>
                        <xsd:any/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CadConsultaCadastroRequest">
        <part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
    </message>
    <message name="CadConsultaCadastroResponse">
        <part name="nfeResultMsg" element="tns:nfeResultMsg"/>
    </message>
    <portType name="CadConsultaCadastroSoap">
        <operation name="consultaCadastro">
            <input message="tns:CadConsultaCadastroRequest"/>
            <output message="tns:CadConsultaCadastroResponse"/>
        </operation>
    </portType>
    <binding name="CadConsultaCadastroSoap12" type="tns:CadConsultaCadastroSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="consultaCadastro">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4/consultaCadastro" style="document"/>
            <input>
                <soap12:body use="literal" parts="nfeDadosMsg"/>
            </input>
            <output>
                <soap12:body use="literal" parts="nfeResultMsg"/>
            </output>
        </operation>
    </binding>
    <service name="CadConsultaCadastro4">
        <port name="cadConsultaCadastroSoap12" binding="tns:CadConsultaCadastroSoap12">
            <soap12:address location="https://nfe.sefaz.ms.gov.br:443/ws/CadConsultaCadastro4"/>
        </port>
    </service>
</definitions>