NFe/wsdl/MG/homologacao/NfeRetAutorizacao.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NfeRetAutorizacao" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
<xs:element name="nfeDadosMsg">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nfeRetRAutorizacao" type="tns:nfeRetAutorizacaoResult"/>
<xs:complexType name="nfeRetAutorizacaoResult">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="retConsReciNFe" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="nfeCabecMsg">
<xs:sequence>
<xs:element minOccurs="0" name="cUF" type="xs:string"/>
<xs:element minOccurs="0" name="versaoDados" type="xs:string"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:complexType>
<xs:element name="nfeRetAutorizacaoResult" nillable="true" type="tns:nfeRetAutorizacaoResult"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeRetAutorizacaoResponse">
    <wsdl:part element="tns:nfeRetAutorizacaoResult" name="nfeRetAutorizacaoResult">
    </wsdl:part>
    <wsdl:part element="tns:nfeCabecMsg" name="nfeCabecMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeRetAutorizacao">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
    <wsdl:part element="tns:nfeCabecMsg" name="nfeCabecMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NfeRetAutorizacaoSoap">
    <wsdl:operation name="nfeRetAutorizacao" parameterOrder="nfeDadosMsg nfeCabecMsg">
      <wsdl:input message="tns:nfeRetAutorizacao" name="nfeRetAutorizacao">
    </wsdl:input>
      <wsdl:output message="tns:nfeRetAutorizacaoResponse" name="nfeRetAutorizacaoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeRetAutorizacaoSoapBinding" type="tns:NfeRetAutorizacaoSoap">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="nfeRetAutorizacao">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao/nfeRetAutorizacao" style="document"/>
      <wsdl:input name="nfeRetAutorizacao">
        <soap12:header message="tns:nfeRetAutorizacao" part="nfeCabecMsg" use="literal">
        </soap12:header>
        <soap12:body parts="nfeDadosMsg" use="literal"/>
      </wsdl:input>
      <wsdl:output name="nfeRetAutorizacaoResponse">
        <soap12:header message="tns:nfeRetAutorizacaoResponse" part="nfeCabecMsg" use="literal">
        </soap12:header>
        <soap12:body parts="nfeRetAutorizacaoResult" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeRetAutorizacao">
    <wsdl:port binding="tns:NfeRetAutorizacaoSoapBinding" name="NfeRetAutorizacaoSoap12">
      <soap12:address location="https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeRetAutorizacao"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>