NFe/wsdl/GO/homologacao/2.00/NfeConsultaCadastro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CadConsultaCadastro2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2">
	<types>
		<xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2" version="1.0" elementFormDefault="qualified">
			<xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
			<xs:element name="cadConsultaCadastro2Result">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nfeDadosMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="nfeCabecMsg">
				<xs:sequence>
					<xs:element minOccurs="0" name="cUF" type="xs:string"/>
					<xs:element minOccurs="0" name="versaoDados" type="xs:string"/>					
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="CadConsultaCadastro2Service_cadConsultaCadastro2">
		<part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>
		<part element="tns:nfeCabecMsg" name="nfeCabecMsg"/>
	</message>
	<message name="CadConsultaCadastro2Service_cadConsultaCadastro2Response">
		<part element="tns:cadConsultaCadastro2Result" name="cadConsultaCadastro2Result"/>		
	</message>
	<portType name="CadConsultaCadastro2Service">
		<operation name="cadConsultaCadastro2" parameterOrder="nfeCabecMsg nfeDadosMsg">
			<input message="tns:CadConsultaCadastro2Service_cadConsultaCadastro2"/>
			<output message="tns:CadConsultaCadastro2Service_cadConsultaCadastro2Response"/>
		</operation>
	</portType>
	<binding name="CadConsultaCadastro2ServiceBinding" type="tns:CadConsultaCadastro2Service">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="cadConsultaCadastro2">
			<soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2/cadConsultaCadastro2"/>
			<input>
				<soap12:body parts="nfeDadosMsg" use="literal"/>
				<soap12:header message="tns:CadConsultaCadastro2Service_cadConsultaCadastro2" part="nfeCabecMsg" use="literal"/>
			</input>
			<output>
				<soap12:body parts="cadConsultaCadastro2Result" use="literal"/>				
			</output>
		</operation>
	</binding>
	<service name="CadConsultaCadastro2">
		<port binding="tns:CadConsultaCadastro2ServiceBinding" name="CadConsultaCadastro2ServicePort">
			<soap12:address location="http://homolog.sefaz.go.gov.br:80/nfe/services/v2/CadConsultaCadastro2"/>
		</port>
	</service>
</definitions>