NFe/wsdl/GO/homologacao/3.10/NfeAutorizacao.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeAutorizacao" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao">
	<types>
		<xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao" version="1.0" elementFormDefault="qualified">
			<xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
			<xs:element name="nfeDadosMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nfeAutorizacaoLoteResult">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="nfeCabecMsg">
				<xs:sequence>
					<xs:element minOccurs="0" name="cUF" type="xs:string"/>
					<xs:element minOccurs="0" name="versaoDados" type="xs:string"/>					
				</xs:sequence>
			</xs:complexType>
			<xs:element name="nfeDadosMsgZip">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nfeAutorizacaoLoteZipResult">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
        </xs:schema>
	</types>
	<message name="NfeAutorizacaoService_nfeAutorizacaoLoteResponse">
		<part element="tns:nfeAutorizacaoLoteResult" name="nfeAutorizacaoLoteResult"/>
	</message>
	<message name="NfeAutorizacaoService_nfeAutorizacaoLote">
		<part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>
		<part element="tns:nfeCabecMsg" name="nfeCabecMsg"/>
	</message>
	<message name="NfeAutorizacaoService_nfeAutorizacaoLoteZipResponse">
		<part element="tns:nfeAutorizacaoLoteZipResult" name="nfeAutorizacaoLoteZipResult"/>
	</message>
	<message name="NfeAutorizacaoService_nfeAutorizacaoLoteZip">
		<part element="tns:nfeDadosMsgZip" name="nfeDadosMsgZip"/>
		<part element="tns:nfeCabecMsg" name="nfeCabecMsg"/>
	</message>
	<portType name="NfeAutorizacaoService">
		<operation name="nfeAutorizacaoLote" parameterOrder="nfeCabecMsg nfeDadosMsg">
			<input message="tns:NfeAutorizacaoService_nfeAutorizacaoLote"/>
			<output message="tns:NfeAutorizacaoService_nfeAutorizacaoLoteResponse"/>
		</operation>
		<operation name="nfeAutorizacaoLoteZip" parameterOrder="nfeCabecMsg nfeDadosMsgZip">
			<input message="tns:NfeAutorizacaoService_nfeAutorizacaoLoteZip"/>
			<output message="tns:NfeAutorizacaoService_nfeAutorizacaoLoteZipResponse"/>
		</operation>
	</portType>
	<binding name="NfeAutorizacaoServiceBinding" type="tns:NfeAutorizacaoService">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="nfeAutorizacaoLote">
			<soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao/nfeAutorizacaoLote"/>
			<input>
				<soap12:body parts="nfeDadosMsg" use="literal"/>
				<soap12:header message="tns:NfeAutorizacaoService_nfeAutorizacaoLote" part="nfeCabecMsg" use="literal"/>
			</input>
			<output>
				<soap12:body parts="nfeAutorizacaoLoteResult" use="literal"/>
			</output>
		</operation>
		<operation name="nfeAutorizacaoLoteZip">
			<soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao/nfeAutorizacaoLoteZip"/>
			<input>
				<soap12:body parts="nfeDadosMsgZip" use="literal"/>
				<soap12:header message="tns:NfeAutorizacaoService_nfeAutorizacaoLoteZip" part="nfeCabecMsg" use="literal"/>
			</input>
			<output>
				<soap12:body parts="nfeAutorizacaoLoteZipResult" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="NfeAutorizacao">
		<port binding="tns:NfeAutorizacaoServiceBinding" name="NfeAutorizacaoPort">
			<soap12:address location="http://homolog.sefaz.go.gov.br:80/nfe/services/v2/NfeAutorizacao"/>
		</port>
	</service>
</definitions>