NFe/wsdl/GO/homologacao/3.10/NfeInutilizacao.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeInutilizacao2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao2">
	<types>
		<xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao2" version="1.0" elementFormDefault="qualified">
			<xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
			<xs:element name="nfeDadosMsg">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nfeInutilizacaoNF2Result">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="nfeCabecMsg">
				<xs:sequence>
					<xs:element minOccurs="0" name="cUF" type="xs:string"/>
					<xs:element minOccurs="0" name="versaoDados" type="xs:string"/>					
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="NfeInutilizacaoService_nfeInutilizacaoNF2Response">
		<part element="tns:nfeInutilizacaoNF2Result" name="nfeInutilizacaoNF2Result"/>
	</message>
	<message name="NfeInutilizacaoService_nfeInutilizacaoNF2">
		<part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>
		<part element="tns:nfeCabecMsg" name="nfeCabecMsg"/>
	</message>
	<portType name="NfeInutilizacaoService">
		<operation name="nfeInutilizacaoNF2" parameterOrder="nfeCabecMsg nfeDadosMsg">
			<input message="tns:NfeInutilizacaoService_nfeInutilizacaoNF2"/>
			<output message="tns:NfeInutilizacaoService_nfeInutilizacaoNF2Response"/>
		</operation>
	</portType>
	<binding name="NfeInutilizacaoServiceBinding" type="tns:NfeInutilizacaoService">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="nfeInutilizacaoNF2">
			<soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao2/nfeInutilizacaoNF2"/>
			<input>
				<soap12:body parts="nfeDadosMsg" use="literal"/>
				<soap12:header message="tns:NfeInutilizacaoService_nfeInutilizacaoNF2" part="nfeCabecMsg" use="literal"/>
			</input>
			<output>
				<soap12:body parts="nfeInutilizacaoNF2Result" use="literal"/>				
			</output>
		</operation>
	</binding>
	<service name="NfeInutilizacao2">
		<port binding="tns:NfeInutilizacaoServiceBinding" name="NfeInutilizacaoServicePort">
			<soap12:address location="http://homolog.sefaz.go.gov.br:80/nfe/services/v2/NfeInutilizacao2"/>
		</port>
	</service>
</definitions>