NFe/wsdl/MS/producao/NfeRetRecepcao2.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="NfeRetRecepcao2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:nfe="http://www.portalfiscal.inf.br/nfe">
    <types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2">
            <xsd:element name="nfeDadosMsg">
                <xsd:complexType mixed="true">
                    <xsd:sequence>
                        <xsd:any/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="nfeRetRecepcao2Result">
                <xsd:complexType mixed="true">
                    <xsd:sequence>
                        <xsd:any/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
            <xsd:complexType name="nfeCabecMsg">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="cUF" type="xs:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="versaoDados" type="xs:string"/>
                </xsd:sequence>
                <xsd:anyAttribute/>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="NfeRetRecepcao2Request">
        <part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <message name="NfeRetRecepcao2Response">
        <part name="nfeRetRecepcao2Result" element="tns:nfeRetRecepcao2Result"/>
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <portType name="NfeRetRecepcao2Soap">
        <operation name="nfeRetRecepcao2">
            <input message="tns:NfeRetRecepcao2Request"/>
            <output message="tns:NfeRetRecepcao2Response"/>
        </operation>
    </portType>
    <binding name="NfeRetRecepcao2Soap12" type="tns:NfeRetRecepcao2Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="nfeRetRecepcao2">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2/nfeRetRecepcao2" style="document"/>
            <input>
                <soap12:body use="literal" parts="nfeDadosMsg"/>
                <soap12:header message="tns:NfeRetRecepcao2Request" part="nfeCabecMsg" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal" parts="nfeRetRecepcao2Result"/>
                <soap12:header message="tns:NfeRetRecepcao2Response" part="nfeCabecMsg" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NfeRetRecepcao2">
        <port name="nfeRetRecepcao2Soap12" binding="tns:NfeRetRecepcao2Soap12">
            <soap12:address location="https://nfe.fazenda.ms.gov.br/producao/services2/NfeRetRecepcao2"/>
        </port>
    </service>
</definitions>