NFe/wsdl/PR/producao/4.00/RecepcaoEvento.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace='http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:s='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tm='http://microsoft.com/wsdl/mime/textMatching/' xmlns:tns='http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
 <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Servico destinado a recepcao de mensagens de Evento de NFe</wsdl:documentation>
 <wsdl:types>
  <s:schema elementFormDefault='qualified' targetNamespace='http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4'>
   <s:element name='nfeDadosMsg'>
    <s:complexType mixed='true'>
     <s:sequence>
      <s:any/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:element name='nfeResultMsg'>
    <s:complexType mixed='true'>
     <s:sequence>
      <s:any/>
     </s:sequence>
    </s:complexType>
   </s:element>
  </s:schema>
 </wsdl:types>
 <wsdl:message name='nfeRecepcaoEventoSoap12Out'>
  <wsdl:part element='tns:nfeResultMsg' name='nfeResultMsg'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='nfeRecepcaoEventoSoap12In'>
  <wsdl:part element='tns:nfeDadosMsg' name='nfeDadosMsg'></wsdl:part>
 </wsdl:message>
 <wsdl:portType name='NFeRecepcaoEvento4Soap12'>
  <wsdl:operation name='nfeRecepcaoEventoNF'>
   <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Recepção de mensagem de Evento da NFe</wsdl:documentation>
   <wsdl:input message='tns:nfeRecepcaoEventoSoap12In'></wsdl:input>
   <wsdl:output message='tns:nfeRecepcaoEventoSoap12Out'></wsdl:output>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name='NFeRecepcaoEvento4Soap12' type='tns:NFeRecepcaoEvento4Soap12'>
  <soap12:binding transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='nfeRecepcaoEventoNF'>
   <soap12:operation soapAction='http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4/nfeRecepcaoEventoNF' style='document'/>
   <wsdl:input>
    <soap12:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name='NFeRecepcaoEvento4'>
  <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Servico destinado a recepcao de mensagens de evento de NFe</wsdl:documentation>
  <wsdl:port binding='tns:NFeRecepcaoEvento4Soap12' name='NFeRecepcaoEvento4ServicePort'>
   <soap12:address location='https://nfe.sefa.pr.gov.br/nfe/NFeRecepcaoEvento4'/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>