NFe/wsdl/MT/producao/NfeAutorizacao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    
     targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao"
     xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:s="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao">
            <s:element name="nfeDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="nfeAutorizacaoLoteResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
            <s:complexType name="nfeCabecMsg">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="cUF" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
            <s:element name="nfeDadosMsgZip" type="s:string"/>
            <s:element name="nfeAutorizacaoLoteZipResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="nfeAutorizacaoLoteSoap12In">
        <part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
    </message>
    <message name="nfeAutorizacaoLoteSoap12Out">
        <part name="nfeAutorizacaoLoteResult" element="tns:nfeAutorizacaoLoteResult"/>
    </message>
    <message name="nfeAutorizacaoLoteZipSoap12In">
        <part name="nfeDadosMsgZip" element="tns:nfeDadosMsgZip"/>
    </message>
    <message name="nfeAutorizacaoLoteZipSoap12Out">
        <part name="nfeAutorizacaoLoteZipResult" element="tns:nfeAutorizacaoLoteZipResult"/>
    </message>
    <message name="nfeAutorizacaoLotenfeCabecMsg">
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <message name="nfeAutorizacaoLoteZipnfeCabecMsg">
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <portType name="NfeAutorizacaoSoap12">
        <operation name="nfeAutorizacaoLote">
            <input message="tns:nfeAutorizacaoLoteSoap12In"/>
            <output message="tns:nfeAutorizacaoLoteSoap12Out"/>
        </operation>
        <operation name="nfeAutorizacaoLoteZip">
            <input message="tns:nfeAutorizacaoLoteZipSoap12In"/>
            <output message="tns:nfeAutorizacaoLoteZipSoap12Out"/>
        </operation>
    </portType>
    <binding name="NfeAutorizacaoSoap12" type="tns:NfeAutorizacaoSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="nfeAutorizacaoLote">
            <soap12:operation style="document" soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao/nfeAutorizacaoLote"
                 soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:nfeAutorizacaoLotenfeCabecMsg" part="nfeCabecMsg" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
                <soap12:header message="tns:nfeAutorizacaoLotenfeCabecMsg" part="nfeCabecMsg" use="literal"/>
            </output>
        </operation>
        <operation name="nfeAutorizacaoLoteZip">
            <soap12:operation style="document" soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao/nfeAutorizacaoLoteZip"
                 soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:nfeAutorizacaoLoteZipnfeCabecMsg" part="nfeCabecMsg" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
                <soap12:header message="tns:nfeAutorizacaoLoteZipnfeCabecMsg" part="nfeCabecMsg" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NfeAutorizacao">
        <port name="NfeAutorizacaoSoap12" binding="tns:NfeAutorizacaoSoap12">
            <soap12:address location="https://nfe.sefaz.mt.gov.br/nfews/v2/services/NfeAutorizacao"/>
        </port>
    </service>
</definitions>
