NFe/wsdl/MT/producao/RecepcaoEvento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    
     targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento"
     xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:s="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento">
            <s:element name="nfeDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="nfeRecepcaoEventoResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
            <s:complexType name="nfeCabecMsg">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="cUF" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
        </s:schema>
    </types>
    <message name="nfeRecepcaoEventoSoap12In">
        <part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
    </message>
    <message name="nfeRecepcaoEventoSoap12Out">
        <part name="nfeRecepcaoEventoResult" element="tns:nfeRecepcaoEventoResult"/>
    </message>
    <message name="nfeRecepcaoEventonfeCabecMsg">
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <portType name="RecepcaoEventoSoap12">
        <operation name="nfeRecepcaoEvento">
            <input message="tns:nfeRecepcaoEventoSoap12In"/>
            <output message="tns:nfeRecepcaoEventoSoap12Out"/>
        </operation>
    </portType>
    <binding name="RecepcaoEventoSoap12" type="tns:RecepcaoEventoSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="nfeRecepcaoEvento">
            <soap12:operation style="document" soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento/nfeRecepcaoEvento"
                 soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:nfeRecepcaoEventonfeCabecMsg" part="nfeCabecMsg" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
                <soap12:header message="tns:nfeRecepcaoEventonfeCabecMsg" part="nfeCabecMsg" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="RecepcaoEvento">
        <port name="RecepcaoEventoSoap12" binding="tns:RecepcaoEventoSoap12">
            <soap12:address location="https://nfe.sefaz.mt.gov.br/nfews/v2/services/RecepcaoEvento"/>
        </port>
    </service>
</definitions>
