NFe/wsdl/GO/producao/NfeRetRecepcao2.wsdl

<?xml version='1.0' encoding='UTF-8'?><definitions name='NfeRetRecepcao2' targetNamespace='http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' xmlns:tns='http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema elementFormDefault='qualified' targetNamespace='http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2' version='1.0' xmlns:tns='http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='nfeCabecMsg' type='tns:nfeCabecMsg'/>
   <xs:element name='nfeDadosMsg'>
    <xs:complexType mixed='true'>
     <xs:sequence>
      <xs:any/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name='nfeRetRecepcao2Result'>
    <xs:complexType mixed='true'>
     <xs:sequence>
      <xs:any/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:complexType name='nfeCabecMsg'>
    <xs:sequence>
     <xs:element minOccurs='0' name='cUF' type='xs:string'/>
     <xs:element minOccurs='0' name='versaoDados' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='NfeRetRecepcaoService_nfeRetRecepcao2Response'>
  <part element='tns:nfeRetRecepcao2Result' name='nfeRetRecepcao2Result'></part>
 </message>
 <message name='NfeRetRecepcaoService_nfeRetRecepcao2'>
  <part element='tns:nfeDadosMsg' name='nfeDadosMsg'></part>
  <part element='tns:nfeCabecMsg' name='nfeCabecMsg'></part>
 </message>
 <portType name='NfeRetRecepcaoService'>
  <operation name='nfeRetRecepcao2' parameterOrder='nfeCabecMsg nfeDadosMsg'>
   <input message='tns:NfeRetRecepcaoService_nfeRetRecepcao2'></input>
   <output message='tns:NfeRetRecepcaoService_nfeRetRecepcao2Response'></output>
  </operation>
 </portType>
 <binding name='NfeRetRecepcaoServiceBinding' type='tns:NfeRetRecepcaoService'>
  <soap12:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='nfeRetRecepcao2'>
   <soap12:operation soapAction='http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2/nfeRetRecepcao2'/>
   <input>
    <soap12:body parts='nfeDadosMsg' use='literal'/>
    <soap12:header message='tns:NfeRetRecepcaoService_nfeRetRecepcao2' part='nfeCabecMsg' use='literal'></soap12:header>
   </input>
   <output>
    <soap12:body parts='nfeRetRecepcao2Result' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='NfeRetRecepcao2'>
  <port binding='tns:NfeRetRecepcaoServiceBinding' name='NfeRetRecepcaoServicePort'>
   <soap12:address location='https://nfe.sefaz.go.gov.br/nfe/services/v2/NfeRetRecepcao2'/>
  </port>
 </service>
</definitions>