NFe/wsdl/MS/homologacao/NfeInutilizacao2.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="NfeInutilizacao2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao2" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao2">
                <xsd:element name="nfeDadosMsg">
                    <xsd:complexType mixed="true">
                        <xsd:sequence>
                            <xsd:any/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="nfeInutilizacaoNF2Result">
                    <xsd:complexType mixed="true">
                        <xsd:sequence>
                            <xsd:any/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            <xsd:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
            <xsd:complexType name="nfeCabecMsg">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="cUF" type="xs:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="versaoDados" type="xs:string"/>
                </xsd:sequence>
                <xsd:anyAttribute/>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="NfeInutilizacaoNF2Request">
        <part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <message name="NfeInutilizacaoNF2Response">
        <part name="nfeInutilizacaoNF2Result" element="tns:nfeInutilizacaoNF2Result"/>
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <portType name="NfeInutilizacao2Soap">
        <operation name="nfeInutilizacaoNF2">
            <input message="tns:NfeInutilizacaoNF2Request"/>
            <output message="tns:NfeInutilizacaoNF2Response"/>
        </operation>
    </portType>
    <binding name="NfeInutilizacao2Soap12" type="tns:NfeInutilizacao2Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="nfeInutilizacaoNF2">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao2/nfeInutilizacaoNF2" style="document"/>
            <input>
                <soap12:body use="literal" parts="nfeDadosMsg"/>
                <soap12:header message="tns:NfeInutilizacaoNF2Request" part="nfeCabecMsg" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal" parts="nfeInutilizacaoNF2Result"/>
                <soap12:header message="tns:NfeInutilizacaoNF2Response" part="nfeCabecMsg" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NfeInutilizacao2">
        <port name="NfeInutilizacao2Soap12" binding="tns:NfeInutilizacao2Soap12">
            <soap12:address location="https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeInutilizacao2"/>
        </port>
    </service>
</definitions>