NFe/wsdl/MG/homologacao/4.00/NfeAutorizacao.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NFeAutorizacao4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" version="1.0" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="nfeDadosMsg">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nfeDadosMsgZip">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nfeResultMsg" type="tns:nFeAutorizacao4LoteResult" />
<xs:complexType name="nFeAutorizacao4LoteResult">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="retEnviNFe" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="NFeAutorizacao4LoteZipResponse">
    <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NFeAutorizacao4LoteResponse">
    <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NFeAutorizacao4Lote">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NFeAutorizacao4LoteZip">
    <wsdl:part element="tns:nfeDadosMsgZip" name="nfeDadosMsgZip">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NFeAutorizacao4Soap">
    <wsdl:operation name="NFeAutorizacao4Lote">
      <wsdl:input message="tns:NFeAutorizacao4Lote" name="NFeAutorizacao4Lote">
    </wsdl:input>
      <wsdl:output message="tns:NFeAutorizacao4LoteResponse" name="NFeAutorizacao4LoteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NFeAutorizacao4LoteZip">
      <wsdl:input message="tns:NFeAutorizacao4LoteZip" name="NFeAutorizacao4LoteZip">
    </wsdl:input>
      <wsdl:output message="tns:NFeAutorizacao4LoteZipResponse" name="NFeAutorizacao4LoteZipResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeAutorizacao4SoapBinding" type="tns:NFeAutorizacao4Soap">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NFeAutorizacao4Lote">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/NFeAutorizacao4Lote" style="document" />
      <wsdl:input name="NFeAutorizacao4Lote">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="NFeAutorizacao4LoteResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NFeAutorizacao4LoteZip">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/NFeAutorizacao4LoteZip" style="document" />
      <wsdl:input name="NFeAutorizacao4LoteZip">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="NFeAutorizacao4LoteZipResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeAutorizacao4">
    <wsdl:port binding="tns:NFeAutorizacao4SoapBinding" name="NFeAutorizacao4Soap12">
      <soap12:address location="https://hnfe.fazenda.mg.gov.br/nfe2/services/NFeAutorizacao4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>