NFe/wsdl/MG/homologacao/4.00/NfeConsultaProtocolo.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NFeConsultaProtocolo4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" version="1.0" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="nfeDadosMsg">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nfeResultMsg" type="tns:nfeResultMsg" />
<xs:complexType name="nfeResultMsg">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="retConsSitNFe" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeConsultaNFResponse">
    <wsdl:part element="tns:nfeResultMsg" name="nfeConsultaNFResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeConsultaNF">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NFeConsultaProtocolo4Soap">
    <wsdl:operation name="nfeConsultaNF">
      <wsdl:input message="tns:nfeConsultaNF" name="nfeConsultaNF">
    </wsdl:input>
      <wsdl:output message="tns:nfeConsultaNFResponse" name="nfeConsultaNFResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeConsultaProtocolo4SoapBinding" type="tns:NFeConsultaProtocolo4Soap">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeConsultaNF">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4/nfeConsultaNF" style="document" />
      <wsdl:input name="nfeConsultaNF">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeConsultaNFResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeConsultaProtocolo4">
    <wsdl:port binding="tns:NFeConsultaProtocolo4SoapBinding" name="NFeConsultaProtocolo4Soap">
      <soap12:address location="https://hnfe.fazenda.mg.gov.br/nfe2/services/NFeConsultaProtocolo4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>