NFe/wsdl/MG/homologacao/4.00/RecepcaoEvento.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NFeRecepcaoEvento4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" version="1.0" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="nfeDadosMsg">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nfeResultMsg" type="tns:nFeRecepcaoEvento4Result" />
<xs:complexType name="nFeRecepcaoEvento4Result">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="retEnvEvento" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeRecepcaoEventoResponse">
    <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeRecepcaoEvento">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NFeRecepcaoEvento4Soap">
    <wsdl:operation name="nfeRecepcaoEvento">
      <wsdl:input message="tns:nfeRecepcaoEvento" name="nfeRecepcaoEvento">
    </wsdl:input>
      <wsdl:output message="tns:nfeRecepcaoEventoResponse" name="nfeRecepcaoEventoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeRecepcaoEvento4SoapBinding" type="tns:NFeRecepcaoEvento4Soap">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeRecepcaoEvento">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" style="document" />
      <wsdl:input name="nfeRecepcaoEvento">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeRecepcaoEventoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeRecepcaoEvento4">
    <wsdl:port binding="tns:NFeRecepcaoEvento4SoapBinding" name="NFeRecepcaoEvento4Soap12">
      <soap12:address location="https://hnfe.fazenda.mg.gov.br/nfe2/services/NFeRecepcaoEvento4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>