NFe/wsdl/MG/producao/4.00/NfeInutilizacao.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NFeInutilizacao4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4" version="1.0" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="nfeDadosMsg">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nfeResultMsg" type="tns:nFeInutilizacao4Result" />
<xs:complexType name="nFeInutilizacao4Result">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="retInutNFe" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeInutilizacao4">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeInutilizacao4Response">
    <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NFeInutilizacao4Soap">
    <wsdl:operation name="nfeInutilizacao4">
      <wsdl:input message="tns:nfeInutilizacao4" name="nfeInutilizacao4">
    </wsdl:input>
      <wsdl:output message="tns:nfeInutilizacao4Response" name="nfeInutilizacao4Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeInutilizacao4SoapBinding" type="tns:NFeInutilizacao4Soap">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeInutilizacao4">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4/nfeInutilizacao4" style="document" />
      <wsdl:input name="nfeInutilizacao4">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeInutilizacao4Response">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeInutilizacao4">
    <wsdl:port binding="tns:NFeInutilizacao4SoapBinding" name="NFeInutilizacao4Soap12">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/NFeInutilizacao4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>