NFe/wsdl/MG/producao/4.00/NfeStatusServico.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NFeStatusServico4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" version="1.0" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="nfeDadosMsg">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nfeResultMsg" type="tns:nFeStatusServico4Result" />
<xs:complexType name="nFeStatusServico4Result">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="retConsStatServ" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeStatusServico4Response">
    <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeStatusServico4">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NFeStatusServico4Soap">
    <wsdl:operation name="nfeStatusServico4">
      <wsdl:input message="tns:nfeStatusServico4" name="nfeStatusServico4">
    </wsdl:input>
      <wsdl:output message="tns:nfeStatusServico4Response" name="nfeStatusServico4Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeStatusServico4SoapBinding" type="tns:NFeStatusServico4Soap">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeStatusServico4">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4/nfeStatusServico4" style="document" />
      <wsdl:input name="nfeStatusServico4">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeStatusServico4Response">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeStatusServico4">
    <wsdl:port binding="tns:NFeStatusServico4SoapBinding" name="NFeStatusServico4Soap12">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/NFeStatusServico4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>