NFe/wsdl/MG/producao/2.00/NfeRecepcao.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NfeRecepcao2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2" version="1.0" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
<xs:element name="nfeDadosMsg">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nfeRecepcaoLote2Result" type="tns:nfeRecepcaoLote2Result"/>
<xs:complexType name="nfeRecepcaoLote2Result">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="retEnviNFe" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="nfeCabecMsg">
<xs:sequence>
<xs:element minOccurs="0" name="cUF" type="xs:string"/>
<xs:element minOccurs="0" name="versaoDados" type="xs:string"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeRecepcaoLote2">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
    <wsdl:part element="tns:nfeCabecMsg" name="nfeCabecMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeRecepcaoLote2Response">
    <wsdl:part element="tns:nfeRecepcaoLote2Result" name="nfeRecepcaoLote2Result">
    </wsdl:part>
    <wsdl:part element="tns:nfeCabecMsg" name="nfeCabecMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NfeRecepcao2Soap">
    <wsdl:operation name="nfeRecepcaoLote2" parameterOrder="nfeDadosMsg nfeCabecMsg">
      <wsdl:input message="tns:nfeRecepcaoLote2" name="nfeRecepcaoLote2">
    </wsdl:input>
      <wsdl:output message="tns:nfeRecepcaoLote2Response" name="nfeRecepcaoLote2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeRecepcao2SoapBinding" type="tns:NfeRecepcao2Soap">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="nfeRecepcaoLote2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2/nfeRecepcaoLote2" style="document"/>
      <wsdl:input name="nfeRecepcaoLote2">
        <soap12:header message="tns:nfeRecepcaoLote2" part="nfeCabecMsg" use="literal">
        </soap12:header>
        <soap12:body parts="nfeDadosMsg" use="literal"/>
      </wsdl:input>
      <wsdl:output name="nfeRecepcaoLote2Response">
        <soap12:header message="tns:nfeRecepcaoLote2Response" part="nfeCabecMsg" use="literal">
        </soap12:header>
        <soap12:body parts="nfeRecepcaoLote2Result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeRecepcao2">
    <wsdl:port binding="tns:NfeRecepcao2SoapBinding" name="NfeRecepcao2Soap12">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/NfeRecepcao2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>