NFe/wsdl/AM/homologacao/2.00/NfeRecepcao.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions
    
     targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:s="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2">
            <s:element name="nfeDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="nfeRecepcaoLote2Result">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
            <s:complexType name="nfeCabecMsg">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="cUF" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
            <s:element name="nfeDadosMsgZip" type="s:string"/>
            <s:element name="nfeAutorizacaoLoteZipResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="nfeRecepcaoLote2Soap12In">
        <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
    </wsdl:message>
    <wsdl:message name="nfeRecepcaoLote2Soap12Out">
        <wsdl:part name="nfeRecepcaoLote2Result" element="tns:nfeRecepcaoLote2Result"/>
    </wsdl:message>
    <wsdl:message name="nfeAutorizacaoLoteZipSoap12In">
        <wsdl:part name="nfeDadosMsgZip" element="tns:nfeDadosMsgZip"/>
    </wsdl:message>
    <wsdl:message name="nfeAutorizacaoLoteZipSoap12Out">
        <wsdl:part name="nfeAutorizacaoLoteZipResult" element="tns:nfeAutorizacaoLoteZipResult"/>
    </wsdl:message>
    <wsdl:message name="nfeRecepcaoLote2nfeCabecMsg">
        <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </wsdl:message>
    <wsdl:message name="nfeAutorizacaoLoteZipnfeCabecMsg">
        <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </wsdl:message>
    <wsdl:portType name="NfeRecepcao2Soap12">
        <wsdl:operation name="nfeRecepcaoLote2">
            <wsdl:input message="tns:nfeRecepcaoLote2Soap12In"/>
            <wsdl:output message="tns:nfeRecepcaoLote2Soap12Out"/>
        </wsdl:operation>
        <wsdl:operation name="nfeAutorizacaoLoteZip">
            <wsdl:input message="tns:nfeAutorizacaoLoteZipSoap12In"/>
            <wsdl:output message="tns:nfeAutorizacaoLoteZipSoap12Out"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NfeRecepcao2Soap12" type="tns:NfeRecepcao2Soap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nfeRecepcaoLote2">
            <soap12:operation style="document" soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2/nfeRecepcaoLote2"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:nfeRecepcaoLote2nfeCabecMsg" part="nfeCabecMsg" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
                <soap12:header message="tns:nfeRecepcaoLote2nfeCabecMsg" part="nfeCabecMsg" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nfeAutorizacaoLoteZip">
            <soap12:operation style="document" soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2/nfeAutorizacaoLoteZip"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:nfeAutorizacaoLoteZipnfeCabecMsg" part="nfeCabecMsg" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
                <soap12:header message="tns:nfeAutorizacaoLoteZipnfeCabecMsg" part="nfeCabecMsg" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NfeRecepcao2">
        <wsdl:port name="NfeRecepcao2Soap12" binding="tns:NfeRecepcao2Soap12">
            <soap12:address location="https://homnfe.sefaz.am.gov.br/services2/services/NfeRecepcao2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
